html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

button {
    cursor: pointer;
    background: none;
    color: inherit;
    outline: 3px solid transparent;

    &:focus {
        outline: 3px solid $button-outline-color;
    }
}
